{{define "root"}}
<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata|Raleway:200,400,500,700|Special+Elite' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/static/article.css">
  <meta charset='utf-8'>
  <link rel="stylesheet" href="/static/hjs-themes/obsidian.css">
  <script src="/static/js/highlight.go.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body class="fadebg">
  <section id="navbar" class="slidedown hide">
    <h2>Project Euler: A Golang hacking mission - <span><a style="cursor: pointer; cursor: hand;" onclick="return false;" id="sound">Sound ON/OFF &#128266;</a></span></h2>
    <div id="player">
      <span id="avatar"></span>
      <span id="alias"></span>
      <ul id="subnav">
        <li><a href="/" style="cursor: pointer; cursor: hand;" onclick="return false;" id="restart">Restart &rarr;</a></li>
      </ul>
    </div>
  </section>
  <div id="page">
    <div class="container">
      <div id="content">
        <section id="laptop" class="hide">
          <div id="editor">
            {{range .Sections}}
              {{elem $.Template .}}
            {{end}}
          </div>
        </section>
      </div>
    </div>
  </div>
  <script src='/play.js'></script>
  <script>
    $(document).ready(function() {
      $('div.code.frozen').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });
  </script>
</body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86749516-1', 'auto');
  ga('send', 'pageview');
</script>
{{end}}
